#!/bin/sh
#
###################################
#  Parlay configuration utility   #
################################################################
#                                                              #
# Objective:                                                   #
# Hack Spectacle for preferences, settings, and productivity.  #
#                                                              #
# Learn:                                                       #
#                                                              #
#                                                              #
#                                                              #
################################################################

##########################
#  Preference Settings   #
##########################

